/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
.title{
    text-align: center
}
.indextable th{
    background :#008080;
    border:solid 1px #CCC;
    color: #fff;
    padding: 5px;
    margin: 5px;
    text-align: center
}
.indextable td{
    background :#e6e6fa;
    border:solid 1px #CCC;
    padding: 5px;
    text-align: center
}
.header_link {
    padding: 5px 10px;
}